<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1 class="title">German City Search</h1>
      <form class="search-form" (submit)="onSearch()">
        <div class="search-wrapper">
          <input
            type="text"
            placeholder="Enter city name"
            class="search-input"
            [(ngModel)]="city"
            name="cityName"
          />
          <button type="submit" class="search-btn">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
      <div class="city-list">
        <div *ngIf="searchResults.length > 0">
          <ul>
            <li *ngFor="let item of searchResults">
              {{ item.cityName }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
