<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel= "stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>Cities of Germany search</h1>
    <form (submit)="onSearch()">
      <label for="cityName">Enter City Name:</label>
      <input type="text" id="cityName" [(ngModel)]="city" name="cityName" />
      <button type="submit">Search</button>
    </form>

    <div *ngIf="searchResults.length > 0">
      <h2>Search Results:</h2>
      <ul>
        <li *ngFor="let item of searchResults">
          {{ item.cityName }}
        </li>
      </ul>
    </div>
  </body>
</html>